.passwordStrength{
  .show_pwd {
    cursor: pointer;
    user-select: none;
    padding-right: 5px;
    line-height: 1;
  }
  .intensity {
    margin-top: 5px;

    .psdText {
      font-size: 14px;
      margin-right: 10px;
    }
    .line {
      display: inline-block;
      width: 48px;
      //height: 4px;
      background: #d8d8d8;
      border-radius: 3px;
      margin-right: 8px;
      text-align: center;
      color: #fff;
      &.low {
        background: #f4664a;
      }
      &.middle {
        background: #ffb700;
      }
      &.high {
        background: #2cbb79;
      }
    }
    .level {
      margin: 0 16px 0 8px;
    }
    .warningtext {
      color: #5a5a5a;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}

